blockquote {
  border-left: 5px solid #aeaeae;
}

.section {
  max-width: 1660px;
  margin: 0 auto;
}

.sidenav li > a.subheader-link {
  pointer-events: all;
  color: #03a9f4 !important;
}

.nav-wrapper .brand-logo span {
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
}
.nav-wrapper .brand-logo img {
  height: 30px;
  padding-top: 8px;
}

nav .nav-wrapper a,
nav .nav-wrapper ul a {
  color: #000;
}

.about-us-cover {
  max-width: 100%;
}

.tag-line {
  font-size: 10px;
  letter-spacing: 4px;
  font-weight: 600;
  color: #317bb7;
}

.subheader-link .home {
  padding-top: 5px;
  i {
    margin: 0 5px 0 0;
    position: relative;
    top: -2px;
  }
}

.parallax-container {
   height: 300px;
}
